<!DOCTYPE html>
<html ng-app="webmapping" >
    <head>   
    <meta charset="utf-8">
        <title>Héraut événement 2016</title>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://openlayers.org/en/v3.8.2/css/ol.css" type="text/css">
        <link rel="stylesheet" href="./pinmap.css">
        <link rel="stylesheet" href="./material.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- Angular Material CSS now available via Google CDN; version 0.11.2 used here -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/resources/bootstrap/css/bootstrap-responsive.min.css" type="text/css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
        <!-- Date picker-->
        <link rel="stylesheet" type="text/css" media="all" href="daterangepickerCompat.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
        <!-- Loader-->
        <link rel="stylesheet" type="text/css" media="all" href="demo/loaders.min.css" />
        <!-- Main style my page index.html-->
        <link rel="stylesheet" type="text/css" href="StyleIndex.css" />
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header mdl-layout__header--scroll">
                 <div style="position:fixed;top:15px;left:1%" class="dropdown">
                    <button style="font-size:12px" class="btn btn-default dropdown-toggle" type="button" id="peysage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span style="color:rgb(0,0,0);font-size:15px" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        <span class="caret"></span>
                    </button>
                    <ul ng-controller="styleCtrl" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="mystyle in styleList"  style="margin: 0px 10px; width:180px;font-size:14px;color:rgb(0,0,0)">
                            <input ng-click="styleChecked(mystyle.val)" ng-model="chosen" id="radioStyle{{$index}}" class="radio-custom" name="radio-group" type="radio">
                            <label for="radioStyle{{$index}}" class="radio-custom-label">{{mystyle.name}}</label>
                        </li>
                    </ul>
                </div>   
<!-- search by peysage -->                
                <div style="position:fixed;top:15px;left:20%" class="dropdown">
                    <button style="font-size:12px" class="btn btn-default dropdown-toggle" type="button" id="peysage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Peysage
                        <span class="caret"></span>
                    </button>
                    <ul ng-controller="typePeysage" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="peysage in peysags" style="margin: 0px 10px; width:200px;font-size:14px;color:rgb(0,0,0)">
                            <input ng-init="checkIfchecked()" ng-click="checkIfchecked()" ng-model="peysage.selected" id="{{peysage.name}}" class="checkbox-custom"  type="checkbox" checked>
                            <label style="color:rgb(0,0,0)" for="{{peysage.name}}" class="checkbox-custom-label">{{peysage.name}}</label>
                        </li>
                    </ul>
                </div>            
<!-- search by evenement type -->
                <div style="position:fixed;top:15px;left:28%" class="dropdown">
                    <button style="font-size:12px" class="btn btn-default dropdown-toggle" type="button" id="type_even" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Type d'événement
                        <span class="caret"></span>
                    </button>

                    <ul ng-controller="typeEvent" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="event in typeEvent" style="margin: 0px 10px; width:200px;font-size:14px;color:rgb(0,0,0)">
                            <input ng-init="checkIfchecked()" ng-click="checkIfchecked()" ng-model="event.selected" id="{{event.name}}" class="checkbox-custom"  type="checkbox" checked>
                            <label style="color:rgb(0,0,0)" for="{{event.name}}" class="checkbox-custom-label">{{event.name}}</label>
                        </li>
                    </ul>
                </div>            
<!-- search by condition d'entree -->
                <div style="position:fixed;top:15px;left:40%" class="dropdown">
                    <button style="font-size:12px" class="btn btn-default dropdown-toggle" type="button" id="DM_condition" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Condition d'entrée
                        <span class="caret"></span>
                    </button>

                    <ul ng-controller="conditionStatus"  class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="val in condValue" style="margin: 0px 10px; width:auto;font-size:14px;color:rgb(0,0,0)">
                            <input ng-init="checkIfchecked()" ng-click="checkIfchecked()" ng-model="val.selected" id="{{val.name}}" class="checkbox-custom"  type="checkbox" checked>
                            <label style="color:rgb(0,0,0)" for="{{val.name}}" class="checkbox-custom-label">{{val.name}}</label>
                        </li>
                    </ul>
                </div>
<!-- drop menu List de communes -->
                <div  style="position:fixed;top:15px;left:52%" class="dropdown"> 
                    <button style="font-size:12px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">List de communes
                        <span class="caret"></span>
                    </button>
                    <ul ng-controller="communesController" style="overflow-y: scroll;height:1000%" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li style="margin: 0px 10px; width: auto;font-size:14px;color:rgb(0,0,0)" >
                            <input ng-init="inistialCommune()" id="selectAll" ng-click="checkAll()" ng-model="selectedAll" type="checkbox" class="checkbox-custom">
                            <label for="selectAll" class="checkbox-custom-label" >Sélectionner tout</label> 
                        </li>
                        <li style="margin: 0px 10px; text-align:center; width: 200px;font-size:12px;color:rgb(0,0,0)" >
                            <input ng-model="query" type="search" class="search-field" placeholder="Recherche" value="" name="s" title="Search efter:"><br>
                            <span style="font-size:15px;color:rgba(0,0,0,0.5);position:center;" class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                        </li>  
                        <li ng-repeat="commune in communes | filter:query" style="margin: 0px 10px; width: 215px;font-size:14px;color:rgb(0,0,0)" >
                            <input  ng-click="submit()" id="{{commune.name}}" ng-model="commune.Selected" type="checkbox"  class="checkbox-custom">
                            <label  class="checkbox-custom-label" for="{{commune.name}}">{{commune.name}}</label> 
                        </li>
                    </ul>
                </div>     
<!-- search by date -->
                <!--<div ng-controller="mainController" style="margin: 15px 0px;text-align:center;position:fixed;font-size:12px;height:30px;width:145px;left:74%">
                    <input ng-change="submitDates()" id="eventDate" jquery-date-picker ng-model="event.startDate" /> 
                </div>-->
<!-- slide menu --> 
                <div style="margin: 15px 0px;text-align:center;position:fixed;height:30px;width:170px;left:85%" class="input-group">
   <span class="input-group-btn">
            <input style="width:90px;height:34px;" type="text" class="form-control" placeholder="La distance">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Calculer</button>
      </span>
</div>
                <div  style="font-size:12px;cursor:pointer;display:inline-block;position:fixed;top:20px;left:75%;cursor:pointer">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="track">
                      <input id="track" type="checkbox"  class="mdl-switch__input" onClick="validateGPS()">
                      <span class="mdl-switch__label"></span>&nbsp&nbsp&nbsp&nbsp Me localiser
                    </label>
                    
               <!--    <div class='pin'></div>
                    <div class='pulse'></div>-->
                     <!-- Style de la carte-->              
                </div>
                </header>
            <div style="text-align: center;filter: blur(100px); background: rgba(0, 0, 0,0.8);" id="slidemenu" class="mdl-layout__drawer">
                <img id="imginfo" style="width:349px;height:200px" src="115058444.jpg"> </img>
                <span id="span_info1" class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                <h4  class="eventsTitel" id="nom"></h4>

                <span id="span_info2" sclass="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                <h5 class="eventsInfo" id="Commune"></h5>
                <h5 class="eventsInfo" id="type"></h5>
                <h5 class="eventsInfo" id="typePeysage"></h5>

                <span id="span_info3" class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                <h5 class="eventsInfo" id="date_d"></h5>
                <h5 class="eventsInfo" id="date_e"></h5>

                <span id="span_info4" class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                <h5 class="eventsInfo" id="acces"></h5>

                <span id="span_info5" class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                <h5 class="eventsInfo"  id="adress"></h5>

                <span id="span_info6" class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                <h5 class="eventsInfo"  id="bref"></h5>
            </div>
<!-- Openlayers Map  -->
            <div class="map" id="map"></div>     
        </div>
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script> 
            <script type='text/javascript' src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js'></script>
            <script src="http://openlayers.org/en/v3.10.1/build/ol.js"></script>
            <script type="text/javascript" src="js/map.js"> </script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
            <script src="./js/testJS.js"></script>
            <script src="./material.min.js"></script>
            <script type="text/javascript" src="moment.js"></script>      
            <!-- Date picker-->
            <script type="text/javascript" src="daterangepickerCompat.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <!-- Loader-->
            <script type="text/javascript" src="demo/loaders.css.js"></script> 
            <script>
                $('.dropdown-menu').on('click', function(event){
                    //pour ne ferme pas le drop menu quand on clique de dans 
                event.stopPropagation();
                });
            </script>
        
        </body>
</html>